// // 变量 $+变量名
// $w:400px;
// $h:200px;
// $c:red;
// $len:50%*10; // 500%
// /* 标题样式 */
// h1{
//   width: $w;
//   height: $h;
//   color: $c;
//   background-color: #ccc;
// }
// // sass中的注释有两种
// // 1. // sass有的注释，不会被编译到css文件中
// // /* xxx */ 会被编译到css文件中
// // 嵌套语法
// .box{
//   width: $w;
//   background-color: lightblue;
//   h2{
//     font-size: 30px;
//     color: blue;
//   }
//   .show{
//     width: 300px;
//     height: 100px;
//     span{
//       color: red;
//     }
//     p{
//       color: yellow;
//     }
//   }
// }
// // & 指向父选择器
// a{
//   color: blue;
//   &:hover{
//     color: red;
//   }
// }
// .content{
//   width: 500px;
//   &-title{
//     color: red;
//   }
//   &-main{
//     color: blue;
//   }
// }
// // @import 引入外部样式
// @import 'header.scss';
// // @mixin 混合器
// @mixin nostyle {
//   list-style: none;
//   li{
//     padding: 0;
//     color: blue;
//   }
// }
// .list{
//   width: 500px;
//   @include nostyle;
// }
// // 混合器传参
// @mixin common($w,$h,$c) {
//   width: $w;
//   height: $h;
//   color: $c;
// }
// .box1{
//   background-color: #ccc;
//   @include common(500px,200px,red);
// }
// .box2{
//   padding: 10px;
//   @include common(300px,100px,blue);
// }
// // 继承
// .box3{
//   padding: 20px;
//   margin: 10px;
//   font-size: 20px;
// }
// .box4{
//   width: 500px;
//   background: pink;
//   @extend .box3;
// }
.concent {
    width: 1090px;
    margin: 0 auto;
}

.noborder {
    border: none;
}

.xiashow {
    display: none;
}

.wy_top {
    width: 100%;
    height: 36px;
    line-height: 36px;
    background-color: #333333;
    a {
        font-size: 12px;
    }
    .top {
        @extend .concent;
        .top_notice {
            padding: 0 5px;
            float: left;
            height: 36px;
            a {
                color: #cc9756;
                text-decoration: underline;
            }
            a:hover {
                color: rgb(227, 227, 227);
                text-decoration: none;
            }
        }
        .top_nav {
            height: 36px;
            float: right;
            li {
                float: left;
                padding: 0 5px;
                position: relative;
                cursor: pointer;
                a {
                    color: #cccccc;
                    .iphone {
                        float: left;
                        margin: 14px 6px 0 0;
                        width: 7px;
                        height: 11px;
                        background: url(../img/icon1.png) 0px 0px no-repeat;
                    }
                    .xia {
                        width: 11px;
                        height: 5px;
                        float: right;
                        margin-top: 17px;
                        margin-left: 5px;
                        background: url(../img/icon1.png) 0px -690px no-repeat;
                        transform: rotate(180deg);
                    }
                }
                a:hover {
                    color: rgb(255, 255, 255);
                }
                .xiashow1 {
                    @extend .xiashow;
                    z-index: 66;
                    background-color: #fff;
                    position: absolute;
                    top: 36px;
                    left: -50px;
                    padding: 10px 12px;
                    padding-bottom: 5px;
                    text-align: center;
                    border: solid 1px rgb(221, 221, 221);
                    p {
                        margin-top: 4px;
                        height: 20px;
                        font-size: 12px;
                        line-height: 20px;
                        color: rgb(197, 182, 151);
                    }
                }
                .shop {
                    padding: 2px 13px;
                    text-align: center;
                    border: solid 1px rgb(221, 221, 221);
                    z-index: 66;
                    width: 56px;
                    background-color: #fff;
                    position: absolute;
                    top: 36px;
                    left: -8px;
                    @extend .xiashow;
                    .noborder {
                        border: none;
                    }
                    a {
                        display: block;
                        padding: 1px 0;
                        border-bottom: 1px solid rgb(221, 221, 221);
                        color: rgb(177, 174, 174);
                        font-size: 12px;
                    }
                    a:hover {
                        color: rgb(197, 182, 151);
                    }
                }
                .xiashow1::after,
                .shop::after {
                    content: "";
                    width: 10px;
                    height: 6px;
                    position: absolute;
                    top: -5px;
                    left: 50%;
                    margin-left: -5px;
                    background: url(../img/icon1.png) -1px -706px no-repeat;
                }
            }
            li:hover .xiashow {
                display: block;
            }
        }
    }
}

.wy_header {
    @extend .concent;
    height: 146px;
    // overflow: hidden;
    .header_top {
        height: 80px;
        .log {
            float: left;
            width: 210px;
            height: 51px;
            margin-top: 29px;
            background: url(../img/icont.jpg) 0px -300px no-repeat;
            background-size: 100%;
            h1 {
                display: none;
            }
        }
        .Search {
            float: left;
            width: 538px;
            margin-left: 159px;
            margin-top: 35px;
            position: relative;
            .search {
                float: left;
                width: 403px;
                height: 36px;
                border: 1px solid #cc9756;
                border-radius: 18px 0 0 18px;
                padding-left: 37px;
            }
            i {
                width: 14px;
                height: 14px;
                background-color: #333333;
                position: absolute;
                top: 12px;
                left: 17px;
                background: url(../img/icon1.png) 0px -517px no-repeat;
            }
            .search_btn {
                float: left;
                width: 91px;
                height: 38px;
                text-align: center;
                background-color: #cc9756;
                border-radius: 0 19px 19px 0;
                border: none;
                color: #ffffff;
                font-size: 19px;
                font-weight: 500;
            }
            .search_btn:hover {
                background-color: rgb(226, 193, 153);
            }
            .ser_nav {
                margin-left: 20px;
                li {
                    float: left;
                    span {
                        width: 1px;
                        height: 10px;
                        display: inline-block;
                        vertical-align: middle;
                        margin: 0 8px;
                        background-color: rgb(153, 153, 153);
                    }
                    a {
                        font-size: 12px;
                        color: rgb(153, 153, 153);
                    }
                }
                li:hover a {
                    color: rgb(204, 151, 86);
                }
            }
        }
        .goodsCar {
            float: left;
            width: 99px;
            height: 36px;
            margin: 40px 0 0 49px;
            line-height: 36px;
            padding: 0 10px 0 23px;
            border: 1px solid #cc9756;
            border-radius: 18px;
            color: #cc9756;
            i {
                float: left;
                margin-top: 9px;
                width: 16px;
                height: 17px;
                line-height: 17px;
                margin-right: 6px;
                background: url(../img/icon1.png) -1px -148px no-repeat;
            }
            span {
                float: right;
                width: 28px;
                height: 20px;
                margin-top: 8px;
                line-height: 20px;
                color: #ffffff;
                text-align: center;
                background: url(../img/icon1.png) 0 -21px no-repeat;
            }
        }
        .goodsCar:hover {
            background-color: rgb(245, 243, 239);
        }
    }
    .nav_header {
        position: relative;
        margin-top: 36px;
        display: flex;
        justify-content: space-between;
        @extend .concent;
        .nav_show {
            border-bottom: 3px solid #cc9756;
        }
        li {
            box-sizing: border-box;
            padding-bottom: 6px;
            a {
                font-size: 12px;
                color: #000000;
                font-weight: 600;
            }
            .nav_xia {
                width: 1150px;
                display: flex;
                justify-content: space-between;
                padding: 8px 25px;
                padding-bottom: 18px;
                position: absolute;
                top: 30px;
                left: -55px;
                z-index: 66;
                border: 1px solid rgb(229, 229, 229);
                background-color: #fff;
                display: none;
                dl {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;
                    overflow: hidden;
                    dt {
                        width: 125px;
                        padding: 8px 0;
                        font-size: 16px;
                        color: rgb(51, 51, 51);
                        font-weight: 600;
                        border-bottom: 1px solid rgb(221, 221, 221);
                    }
                    dd {
                        margin-top: 18px;
                        img {
                            width: 20px;
                            height: 38px;
                            margin-right: 20px;
                        }
                        a {
                            color: rgb(83, 82, 82);
                            font-size: 12px;
                            font-weight: 400;
                        }
                    }
                }
            }
        }
        li:hover {
            border-bottom: 3px solid #cc9756;
        }
        li:hover a {
            color: #cc9756;
        }
        li:hover .nav_xia {
            display: flex;
        }
    }
}

.comchange {
    text-align: center;
    line-height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;
    width: 50px;
    height: 50px;
    background-color: rgba(255, 255, 255, 0.3);
    border-radius: 50%;
    cursor: pointer;
    i {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-top: -8px;
        margin-left: -15px;
        display: block;
        height: 15px;
        width: 24px;
        background: url(../img/icon2.png) 0px -299px no-repeat;
    }
}

.wy_banner {
    width: 100%;
    height: 420px;
    text-align: center;
    position: relative;
    img {
        width: 100%;
        height: 100%;
        cursor: pointer;
    }
    .prev {
        @extend .comchange;
        left: 295px;
        i {
            transform: rotate(-90deg);
        }
    }
    .next {
        @extend .comchange;
        right: 295px;
        i {
            transform: rotate(90deg);
            margin-left: -10px;
        }
    }
    .change {
        width: 160px;
        position: absolute;
        left: 50%;
        bottom: 14px;
        transform: translate(-50%);
        display: flex;
        justify-content: space-around;
        align-items: center;
        .li_show {
            width: 7px;
            height: 7px;
            background-color: #a7936e;
            border: 4px solid rgba(255, 255, 255, 0.3);
        }
        li {
            float: left;
            width: 6px;
            height: 6px;
            background-color: #ffffff;
            border: solid 1px #d6cec4;
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.wy_goods {
    width: 100%;
    display: flex;
    flex-direction: row;
    .new {
        height: 540px;
        width: 100%;
        position: relative;
        background-color: #fff;
        .prev {
            @extend .comchange;
            left: 315px;
            background-color: #e2c199;
            i {
                transform: rotate(-90deg);
            }
        }
        .next {
            @extend .comchange;
            right: 315px;
            background-color: #e2c199;
            i {
                transform: rotate(90deg);
                margin-left: -10px;
            }
        }
        .newGoods {
            @extend .concent;
            .new_top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .top_left {
                    width: 265px;
                    height: 78px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a {
                        color: #000;
                        font-weight: 700;
                        font-size: 26px;
                        margin-top: 22px;
                    }
                    h4 {
                        font-size: 13px;
                        font-weight: 400;
                        color: #000000;
                        margin-top: 34px;
                        margin-right: 22px;
                    }
                }
                .top_right {
                    margin-top: 34px;
                    a {
                        font-size: 13px;
                        color: #000;
                    }
                }
            }
            .goods {
                display: flex;
                @extend .concent;
                justify-content: space-between;
                li {
                    width: 265px;
                    height: 360px;
                    .img {
                        width: 265px;
                        height: 265px;
                        text-align: center;
                        margin-bottom: 26px;
                        background-color: #f4f4f4;
                        img {
                            vertical-align: middle;
                        }
                    }
                    .news {
                        height: 70px;
                        width: 265px;
                        display: flex;
                        flex-direction: column;
                        justify-content: space-between;
                        align-items: center;
                        a {
                            text-align: center;
                            width: 162px;
                            color: #333333;
                            font-weight: 700;
                        }
                        span {
                            color: #d4282d;
                        }
                    }
                }
                li:hover {
                    background-color: rgb(244, 240, 234);
                }
                li:hover .little {
                    display: none;
                }
                li:hover .xiashow {
                    display: block;
                }
            }
        }
    }
    .propular {
        width: 738px;
        width: 100%;
        background-color: #f4f0ea;
        .pro_Goods {
            @extend .concent;
            .pro_top {
                display: flex;
                justify-content: space-between;
                align-items: center;
                .top_left {
                    width: 340px;
                    height: 108px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    a {
                        color: #000;
                        font-weight: 700;
                        font-size: 26px;
                        margin-top: 22px;
                    }
                    .pro_tab {
                        width: 195px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
                .top_right {
                    margin-top: 34px;
                    a {
                        font-size: 13px;
                        color: #000;
                    }
                }
            }
        }
    }
}