.login_banner {
    width: 100%;
    height: 600px;
    position: relative;
    // .login {
    //     padding: 35px 43px 60px;
    //     width: 302px;
    //     background-color: #fff;
    //     position: absolute;
    //     top: 150px;
    //     right: 400px;
    //     .dl_top {
    //         padding: 0 16px;
    //         display: flex;
    //         justify-content: space-between;
    //         h3 {
    //             font-size: 18px;
    //             font-weight: 400;
    //         }
    //         // span {
    //         // }
    //     }
    //     .show {
    //         display: none;
    //     }
    //     .phone_login {
    //         h4 {
    //             display: none;
    //             font-size: 12px;
    //             text-align: right;
    //         }
    //     }
    //     .phone_login .h4_show {
    //         display: block;
    //     }
    //     input {
    //         width: 100%;
    //         height: 40px;
    //         border: solid 1px rgb(216, 218, 221);
    //     }
    // }
    .main {
        position: absolute;
        top: 150px;
        right: 400px;
        width: 450px;
        height: 300px;
        text-align: center;
        background: #fff;
        margin: 0 auto;
    }
}